# Visual Studio / MSBuild
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# NuGet
*.nupkg.metadata
project.assets.json
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets

# OS
.DS_Store
Thumbs.db
